


strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #ab99e0; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 100; color: #555; line-height: 50px; }
h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; }

img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

::-moz-selection { background: #ab99e0; color: #fff; text-shadow: none; }
::selection { background: #ab99e0; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 .line { border-color: #fff; opacity: 0.8; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 200px; margin: 0 auto; border-bottom: 1px solid #ddd; }


/***** Testimonials *****/

.testimonials-container { padding-bottom: 70px; background: #fff; }

.testimonial-list { margin-top: 30px; text-align: center; }

.testimonial-list .testimonial-image img {
	max-width: 160px;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.testimonial-list .testimonial-text { margin-top: 30px; }

.testimonial-list .testimonial-text a { color: #ab99e0; border-bottom: 1px dotted #ab99e0; }
.testimonial-list .testimonial-text a:hover, 
.testimonial-list .testimonial-text a:focus { color: #ab99e0; border: 0; }

.testimonial-list .nav-tabs { margin-top: 30px; border: 0; }
.testimonial-list .nav-tabs li { float: none; display: inline-block; margin-left: 10px; margin-right: 10px; }

.testimonial-list .nav-tabs li a {
    width: 16px; height: 16px; margin: 0; padding: 0;
    background: #ddd; border: 0;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.testimonial-list .nav-tabs li a:hover { background: #bbb; border: 0; }
.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus { background: #ab99e0; border: 0; }


/***** Footer *****/

footer {
	padding: 60px 0;
	background: #333;
	color: #ccc;
	text-align: left;
}
footer a { color: #ab99e0; border: 0; }
footer a:hover, footer a:focus { border-bottom: 1px dotted #ab99e0; outline: 0; }

.footer-copyright {
}

.footer-social {
	text-align: right;
}
.footer-social a { margin-right: 20px; color: #888; }
.footer-social a:hover, .footer-social a:focus { color: #ab99e0; border: 0; }
.footer-social i { font-size: 28px; vertical-align: text-top; }




/***** MEDIA QUERIES *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }
	
	.footer-social a { margin-right: 15px; }
	.footer-social i { font-size: 22px; }

}

@media (max-width: 767px) {
	
	.section-description p { padding: 0; }
    
    footer { text-align: center; }
    .footer-social { padding-top: 30px; text-align: center; }
    .footer-social a { margin: 0 10px; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}
